body{
margin:0;
font-family:Arial;
background: radial-gradient(circle at top,#1a1a2e,#0b0b12);
color:white;
text-align:center;
}

header{
padding:25px;
background:rgba(255,255,255,0.05);
}

header h1{
color:#f5c542;
margin:0;
}

.container{
padding:20px;
max-width:500px;
margin:auto;
}

.card{
background:rgba(255,255,255,0.06);
padding:20px;
border-radius:20px;
backdrop-filter:blur(10px);
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:10px;
}

.cloth{
width:100%;
border-radius:10px;
cursor:pointer;
transition:0.2s;
}

.cloth:active{
transform:scale(0.95);
}

input{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
}

button{
width:100%;
margin-top:15px;
padding:14px;
border:none;
border-radius:12px;
background:#f5c542;
font-weight:bold;
cursor:pointer;
}

#preview{
width:100%;
margin-top:10px;
border-radius:10px;
display:none;
}

#result{
margin-top:15px;
padding:12px;
background:rgba(0,0,0,0.3);
border-radius:12px;
}
